script.
  var pages = [
    'resume',
    'projects',
    'contact'
  ];

  pages.forEach(function (page) {
    if (location.pathname.includes(page)) {
      $('#' + page).addClass('current')
    }
  });

