div.header-spacer
.header#header
  .header-container
    a(href='index.html').logo
      img(src='assets/logo.svg')
    div#hamburger
      span
      span
      span
    ul.pages#pages
      li.logo
        a(href='index.html')
          img(src='assets/logo.svg')
      li
        a(href='resume.html').nav-link#resume Resume
      li
        a(href='#').nav-link#projects Projects

    include _projects.pug
