div.header
  a(href='index.html').logo
    img(src='assets/logo.svg')
  ul.pages
    li
      a(href='resume.html').nav-link#resume Resume
    li
      a(href='#').nav-link#projects Projects
    li
      a(href='contact.html').nav-link#contact Contact

  include _projects.pug
