mixin project(link, img, subtitle, heading)
  a(href=link)
    div.project
      img(src=img).image
      div.label
        div.subtitle= subtitle
        div.small-heading= heading

div#projects-menu
  div.close-projects-menu
    a(href="#").close-button
      img(src='assets/close.svg')
  div.project-background
    div.project-container
      +project('projects_2.html','assets/2_nav.png', 'SMILE.IO', 'Introducing a design system to Smile.io')
      +project('projects_1.html','assets/1_nav.png', 'FLIPP', 'How Flipp got to #1 on the App Store')
