mixin project(link, img, title, company)
  a(href=link)
    div.project
      div.image
        img(src=img)
      div.label
        h3.title= title
        div.company.caption= company

div#projects-menu
  div.close-button-container
    a(href="#").close-button.secret-buttonish
      div.close-text Close
      div.close-x
        include includes/close_button.pug
  div.project-container
    +project('projects_2.html','assets/2_header.png', 'Introducing a design system to Smile.io','Smile.io')
    +project('projects_1.html','assets/1_header.png', 'How Flipp ranked #1 on the App Store', 'Flipp')
