include _meta.pug
html(lang='en')
  head
    title Ruby Cheung - Contact
    include includes/includes.pug
  body
    include _header.pug
    div.container.two-pane-layout
      div.pane.left-pane
        h1 Questions or want to have a quick chat? 💬
        p.light Contact me at #[span.dark rubykcheung@gmail.com] or on #[a(href="https://www.linkedin.com/in/ruby-cheung-32250341/" target='_blank') linkedin]
        p.light Check Sully's portfolio on instagram #[a(href="https://www.instagram.com/sully_thecorgi/" target='_blank') @sully_thecorgi]
      div.pane.right-pane
        img(src='assets/portrait.png')

include _footer.pug
