doctype html
html(lang='en')
  head
    title Ruby Cheung
    include includes/includes.pug
  body
    include _header.pug
    div.container.two-pane-layout
      div.pane.left-pane
        img(src='assets/portrait.png')
      div.pane.right-pane.body-large
        h1 Have any questions or want to have a quick chat? 💬
        p Contact me at rubykcheung@gmail.com or on #[a(href="") linkedin]
        p Check Sully's portfolio on instagram #[a(href="") @sully_thecorgi]

include _footer.pug
