div.header
  a(href='index.html').logo
    img(src='assets/Logo.svg')
  ul.pages
    li
      a(href='resume.html') Resume
    li
      a(href='projects.html') Projects
    li
      a(href='contact.html') Contact
