include _meta.pug
html(lang='en')
  head
    title Ruby Cheung
    include includes/includes.pug
  body.welcome
    div.welcome-page-background
    include _header.pug
    div.container.two-pane-layout
      div.pane.left-pane
        div.text-title.bold Hi👋 <br /> My name is Ruby.
        p.light.short I am product designer, passionate about solving problems through empathy, streamlining processes, and making data-driven decisions.
        p.light.short.
          Currently at #[a.light.clickable.in-text-link(href="https://smile.io", target='_blank') Smile.io],
          previously at #[a.light.clickable.in-text-link(href="https://flipp.com", target='_blank') Flipp].
        div.button-container
          a(href="https://www.linkedin.com/in/ruby-cheung-32250341/" target='_blank')
            .button.green.semibold Say hello!
          a(href="resume.html" style="margin-left: 20px;").light
            span.clickable(style='margin-right: 10px;') View my resume
            include includes/right_arrow.pug
      div.pane.right-pane
        img(src='assets/portrait.png')

include _footer.pug
