include _meta.pug
html(lang='en')
  head
    title Ruby Cheung - How Flipp ranked #1 on the App Store

    include includes/includes.pug
  body
    include _header.pug
    div.container.single-pane
      img(src='assets/1_header.png').banner
      div.title
        span.text-title How Flipp ranked #1 on the App Store
        div.caption Flipp • May 2016 - January 2017

      div.body
        p.
          At Flipp, I worked on the design team, working closely with the growth team involved in the creation of
          digital ads which were used to promote the Flipp app. The more users that download the app, the higher
          their rank will be in the Apple App Store. When I first joined in 2016, the growth team was experiencing
          challenges with acquiring new users through ads.

        h1 The problem seemed simple on the surface – but why wasn’t it easy to solve?

        p.
          There can be many layers to a problem – knowing the right one to solve for is hard. Focusing on the
          surface levels of a problem without identifying the root of the issue can often distract or mask the real
          problem, making it extra difficult to find a solution.

        h1 So, how did I identify the right problem?
        h3 Assessing the current process
        p.
          The design team and growth team met up twice a week to brainstorm ideas and review ad performance. We looked
          at design trends and what other companies have done. This approach was not effective in creating ads that
          performed because we were constantly trying to reinvent what worked.

        h3 Tracking and analyzing the data to identify what works
        p.
          To understand the impact, I started to track the outcome of each ad. For the ads that did perform well,
          I identified common elements that resonated with the users in order to implement the same techniques in
          subsequent ads. This method helped me produce consistently high performing ads. To understand how well
          the ads were performing, I compared them with two baselines: the average industry number and our average
          performance.

        h1 Setting up for repeat success in the future
        p.
          After measuring and finding success in our ad performance, I explained to the team how tracking our
          performance can help create effective ads. I implemented the process for our team which allowed us to
          become more focused on the metrics, this led to increased performance which landed Flipp to become #1
          on the App store in Canada.


      div.next-project
        a(href="projects_2.html").small-heading
          span.clickable(style='margin-right: 10px;') Introducing a design system to Smile.io
          include includes/right_arrow.pug
include _footer.pug
