doctype html
html(lang='en')
  head
    title Ruby Cheung
    include includes/includes.pug
  body
    include _header.pug
    div.container.single-pane
      div.title
        h1 How Flipp got to #1 on the App Store
        div.body-medium FLIPP • MAY 2016 - JANUARY 2017

      div.body
        div.banner
        p.
          I worked on the design team and the growth team that dealt with Ads. We used Ads to promote the Flipp app.
          The more users that download the app, the higher your rank is in the app store.
        p.
          The growth team was having problems in acquiring new users using Ads.

        h2 The problem that we were answering was easy to understand (acquire users). So why wasn't it easy to solve?
        p.
          There are many layers to a problem knowing which part problem to solve is hard.
          Solving the problem on the wrong abstraction can mask the root problem, making it harder to find.

        h2 How did I find the right problem?

        h4 1. Understanding the current process
        p.
          The design team and growth team meet up twice a week to brainstorm ideas and go through Ad performance.
          We looked at design trends and what other companies have done. This approach was not effective in creating
          Ads that performed because we were constantly trying to reinvent what worked.

        h4 2. Track and analyze the data
        p.
          To understand the impact, I started to track the outcome of each Ad. For the Ads that did perform well, I
          tried to find a common element that resonated with the users. This method helped me produce consistently
          high performing Ads. To understand how well our Ads were performing I compared it to two baselines:
          the average industry number and our average performance.

        h4 3. Repeat success
        p.
          After measuring and finding success in our Ad performance, I explained to the team how tracking our
          performance can help us create effective Ads. The team adopted the process and began being more focused
          on the metrics, this led to increased performance which landed us to become #1 on the App store in Canada.


include _footer.pug
