include _meta.pug
html(lang='en')
  head
    title Ruby Cheung - Introducing a design system to Smile.io
    include includes/includes.pug
  body
    include _header.pug
    div.container.single-pane
      div.title
        h1 Introducing a design system to Smile.io
        div.body-medium SMILE.IO • JANUARY 2017 - PRESENT

      div.body
        div.banner
        p.
          When I first joined Smile as a designer, the company was only twelve people. Since the product was young
          at this time, the top priority was to ship features quickly, rather than establishing processes and systems.
        h2 Problems when scaling
        p.
          With developers heavily focused on shipping features quickly, this led to the creation of many “one-off”
          UI components solving for siloed problems, while the overall structure and interactions of pages were
          left as an afterthought. As the number of features grew, there was an increasing amount of overhead
          for the design team when adding new elements to the UI. It was difficult to naturally expand the
          library of UI components and incorporate new elements in a holistic way due to the lack of structure.
          Components were built as unique elements, as opposed to being part of a larger system of reusable elements
          and patterns, which lead to inconsistencies between components, eventually leading to usability issues.
        p.
          The problem was pronounced by the constant support emails asking about how to use the product and
          where to find features. The lack of structure and consistency hindered the user’s ability to understand,
          learn and predict patterns of usability.
        h2 Implementing a design system to solve the problem
        p.
          A design system would solve our consistency problem, and help us create and iterate on designs
          more efficiently. Gives the developers the ability to reuse components and extend the design system
          in a repeatable way.
        p.
          A design system is a collection of reusable components that are assembled to build a cohesive interface,
          guided by clear standards. This was the solution to Smile’s major consistency problems and allow designers
          to create and iterate on designs more efficiently by reducing the need to think about minor details and
          allows the designer to focus on the user’s experience.  A design system also gives developers the ability
          to build with reusable components, thus extending the design system in a repeatable and scalable way.
        p.
          I strongly advocated for the use of a design system, and ultimately played a key role in implementing a
          design system on top of Shopify Polaris, which allowed us to utilize Shopify’s research and resources as
          a starting point, which we could evolve over time as we extend and modify the system to meet the needs of
          the product.





include _footer.pug
