include _meta.pug
html(lang='en')
  head
    title Ruby Cheung - Resume
    include includes/includes.pug
  body
    include _header.pug
    div.container.single-pane
      div.title.centered
        span.text-title Resume
        div.download.caption
          a(href='assets/resume.pdf' target='_blank') Download
      div.body
        div.resume-container
          div.section.left-section
            div.company.box
              h1.unmargined Smile.io
              div.position
                div.caption.semibold PRODUCT DESIGNER
                div.caption.timeline January 2017 - Present
              ul
                li Designed products: Smile Admin (Merchants), Smile UI (Customers), and Smile Internal (Employees)
                li As our team grew, I created processes and documentation that allowed our team to become more efficient:
                li Created processes and documentation that allowed our team to become more efficient:
                  ul
                    li Onboarding
                    li UI frameworks for each product
                    li Structured design handoffs
            div.company.box
              h1.unmargined Flipp
              div.position
                div.caption.semibold JR. WEB & GRAPHICS DESIGNER
                div.caption.timeline May 2016 - January 2017
              ul
                li Solely responsible for all marketing consumer and retailer content.
                li As our team grew, I created processes and documentation that allowed our team to become more efficient:
                li Designed, developed, and manage Flipp’s marketing blog (finds.flipp.com) using Ghost.
                li Created multiple retailer whitepapers and landing pages integrated with Pardot.
                li Currently creating a landing page that outlines Flipp’s history, used internally for our new and current employees.
            div.company.box
              h1.unmargined Social Venture Partners
              div.position
                div.caption.semibold UX DESIGNER & WEBSITE MANAGER
                div.caption.timeline Sept 2015 - June 2016
              ul
                li Created public-facing infographics, printed content, and graphics.
                li Managed website content.
              div.position
                div.caption.semibold UX DESIGNER & WEBSITE MANAGER
                div.caption.timeline June 2015 - Sept 2015
              ul
                li Solely responsible for all public-facing content. Created over 20 printed and graphic products distributed to prospective and current partners.
                li Created custom design content for social media accounts (Twitter, Facebook, and Instagram) and website (www.svpwr.org).
                li Created structure for social media accounts by introducing theme days.


          div.section.right-section
            div.box
              div.no-bold.title 🛠 TOOLS
              ul.horizontal-list
                li
                  a(href="https://www.sketch.com/" target='_blank')
                    img(src='assets/Sketch.png')
                li
                  a(href="https://www.figma.com/" target='_blank')
                    img(src='assets/Figma.png')
                li
                  a(href="https://www.invisionapp.com/" target='_blank')
                    img(src='assets/Invision.png')
                li
                  a(href="https://www.abstract.com/" target='_blank')
                    img(src='assets/Abstract.png')
                li
                  img(src='assets/HTML5.png')
                li
                  img(src='assets/CSS3.png')
            div.box
              div.no-bold.title  🎓 EDUCATION
              h1.unmargined University of Waterloo
              div Global Business & Digital Arts
              div.caption Sept 2012 - April 2016
            div.box
              div.no-bold.title 🏗 PROJECTS
              h1.unmargined Shopify Hack Days
              div.position
                div.caption.semibold PRODUCT DESIGNER
                div.caption.timeline March 2016
              ul
                li Worked in a team of 6 to create an intern page within Shopify Careers during Hack Days. Placed in Top 20.
              br
              h1.unmargined Living Together
              div.position
                div.caption.semibold PRODUCT DESIGNER
                div.caption.timeline February 2016
              p.regular-margined http://livingtogether.io
              ul
                li Webapp that allows roommates to communicate through a messaging board and schedule chores.
                li Created the user flow, interface, logo, and brand. Created within 24 hours for McHacks and finished 5th out of the 80 hacks.


include _footer.pug
