doctype html
html(lang='en')
  head
    title Ruby Cheung - Resume
    include includes/includes.pug
  body
    include header.pug
    div.container.single-pane
      h1 Resume
      div.download
        h4
          a(href='assets/resume.pdf' target='_blank') Download
