svg(width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(fill-rule="evenodd" clip-rule="evenodd" d="M12 12L17 7L12 12L17 17L12 12ZM12 12L7 17L12 12L7 7L12 12Z")
  path(d="M12 12L17 7L12 12ZM12 12L17 17L12 12ZM12 12L7 17L12 12ZM12 12L7 7L12 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
