.header {
  padding-top: 40px;
  vertical-align: top;

  .logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    img {
      height: 60px;
    }
  }
  @media screen and (max-width: 800px) {
    .logo {
      display: block;
    }
    .pages {
      float: none !important;
    }
    ul {
      padding-inline-start: 0;
      margin: 20px 0 !important;
    }
    .nav-link {
      padding: 5px 5px !important;
    }
  }

  .pages {
    vertical-align: top;
    float: right;
  }

  .nav-link {
    padding: 5px 10px;

    &:hover {
      background-color: #F4F6F8;
      border-radius: 4px;
    }

    &.current {
      font-weight: bold;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 0px;

    li {
      margin: 0px 20px;
      display: inline;
      a {
        color: $monkey-grey;
      }
    }
  }
}
