$projects-menu-width: 400px;

#projects {
  cursor: pointer;
}
#projects-menu {
  position: fixed;
  top: 86px;
  right: -100%;
  width: $projects-menu-width;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;

  &.open {
    right: 0 !important;
  }
}

.close-button-container {
  float: right;
  margin-right: 40px;

  .close-text, .close-x {
    display: inline-block;
    color: $monkey-light-grey;
    fill: $monkey-light-grey;
    stroke: $monkey-light-grey;
    vertical-align: top;
  }

  .close-text {
    margin-right: 5px;
  }

  a:hover {
    .close-text, .close-x {
        color: $monkey-grey;
        fill: $monkey-grey;
        stroke: $monkey-grey;
    }
  }
}

.project-container {
  margin: 40px auto;
  width: 320px;
}

.project {
  background-color: white;
  border-radius: 10px;
  margin: 40px 0;
  padding-bottom: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.05);

  .image {
    height: 200px;
    width: 100%;

    position: relative;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 200px;
    }
  }

  .label {
    margin: 10px 20px;
    color: black;

    .title {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  &:hover {
    box-shadow: 0px 2px 44px rgba(0, 0, 0, 0.08);
  }
  &:active {
    box-shadow: 0px 2px 94px rgba(0, 0, 0, 0.1);
  }
}


@media screen and (max-width: $break-small-mobile) {
  #projects-menu {
    width: 100%;
  }

  .project-background {
    width: 100%;
  }

  .project-container {
    padding-top: 25px;
    width: calc(100% - 64px);
    max-width: 700px
  }
}
