
.single-pane {
  margin: 0px 360px;
  margin-bottom: 100px;

  @media screen and (max-width: $default-max-width) {
    margin: 0px 200px;
  }
  @media screen and (max-width: $break-mobile) {
    margin: 0px 25px;
  }

  .title {
    h1, h2, h3, h4, .category, .body-medium {
      text-align: center;
    }
  }

  .download {
    text-decoration: underline;
  }

  .banner {
    width: 100%;
    margin: 35px 0;
    box-shadow: 0 2px 24px rgba(0,0,0,0.1);
  }

  .next-project {
    text-align: right;
    margin-top: 25px;
  }

  .body {
    margin: auto;
  }
}
