$right-pane-width-max: 360px;
$left-pane-width-max: 450px;
.two-pane-layout {
  margin: auto;
  width: 100%;
  max-width: $right-pane-width-max + $left-pane-width-max + 120px;
  margin-top: 150px;

  .pane {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 30px;
  }

  .right-pane {
    max-width: $right-pane-width-max;
  }
  .left-pane {
    max-width: $left-pane-width-max;
    img {
      max-width: 100%;
    }
  }
}
