$right-pane-width-max: 500px;
$left-pane-width-max: 500px;
.two-pane-layout {
  margin: auto;
  width: 100%;
  max-width: $right-pane-width-max + $left-pane-width-max + 120px;
  margin-top: 150px;
  text-align: center;

  @media screen and (max-width: 729px) {
    margin-top: 50px;
  }

  .pane {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 30px;
    text-align: left;

    img {
      max-width: 100%;
    }

    button {

    }

  }

  .right-pane {
    max-width: $right-pane-width-max;
  }
  .left-pane {
    max-width: $left-pane-width-max;
  }
}

@media screen and (max-width: $break-mobile) {
  .pane {
    max-width: 250px;
    img {
      max-width: 250px;
    }
  }
}

.button-container {

}

.welcome-page-background {
  background-image: url('../assets/background.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  position: fixed;
  width: 70%;
  height: 70%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

