@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  font-size: 16px;
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}
