$semibold: 600;
$medium: 400;

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-medium.otf') format('opentype');
    font-weight: $medium;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-semibold.otf') format('opentype');
    font-weight: $semibold;
}

$off-black: #020517;
$monkey-grey: #33374F;
$light-grey: #8388A8;

$break-mobile: 1500px;

body {
  width: 100%;
  max-width: 1500px;
  font-size: 16px;
  margin: auto;
  font-family: 'Proxima Nova', sans-serif;
  background-image: url('../assets/background.svg');
  background-repeat: no-repeat;

  -webkit-font-smoothing : antialiased;
  color: $monkey-grey;

  &.no-scroll {
    overflow: hidden;
  }
}

.body-large {
  font-size: 22px;
  font-weight: $medium;
  color: $monkey-grey;
}

.category {
  font-size: 12px;
  font-weight: $semibold;
}

.body-medium {
  font-weight: $medium;
  color: $light-grey;
  letter-spacing: 1.3px;
  line-height: 25px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.33px;
}

h3, .small-heading {
  font-size: 16px;
  font-weight: bold;
}

h4, .subtitle {
  font-size: 16px;
  font-weight: $semibold;
  line-height: 25px;
}

.subtitle {
  font-size: 10px;
  font-weight: $semibold;
  line-height: 25px;
  color: #454F5B;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: $monkey-grey;
}

.view-website {
  color: -webkit-link;
}

@import 'single_pane';
@import 'two_pane';
@import 'header';
@import 'projects';
@import 'resume';
